/*

!/.gitignore

!/apis/
!/cluster/
!/unsorted/
!/pkg/
!/.github/

!/go.work
!/go.work.sum
!/LICENSE
!/Makefile
!/README.md
!/SECURITY.md

!/.vscode/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
coverage.txt
profile.ppf

*.proto
apis/protobuf/

.DS_Store
.env
.env.local
*.log
tmp/