go 1.26.4

use (
	./apis
	./cluster/apiserver
	./cluster/cloudman
	./cluster/clusterman
	./cluster/collector
	./cluster/common
	./cluster/console
	./cluster/dirsync
	./cluster/e2e
	./cluster/genesis
	./cluster/logstore
	./cluster/metricstore
	./cluster/mockapiserver
	./cluster/nocturne
	./cluster/policyportal
	./cluster/publicserver
	./cluster/rscserver
	./cluster/rscstore
	./cluster/secretman
	./pkg
)
